   /*调整容器大小*/
   #myCarousel {
    margin-top: 10vh;
    /* width: 1200px; */
    width: 100%;
  
    box-shadow: #232323 30px;
}




/*调整圆圈链接ol位置*/
.carousel-indicators {
    bottom: -5px;
}

/*调整轮播图位置*/
#carousel-example-generic {
    top: 15px;
}

.carousel-inner .item {
    /* width: 200%; */
    background-color:  rgb(159, 198, 199);;

}

.carousel-inner .item img {
    width: 1200px;
    height: 461px;
    margin: auto;
    /* background-color: brown; */
}
/* ========================================= */

.page-header h1{
text-align: center;
}

/* ========================================= */
.media-list img{
    width: 500px;
}
h4{
/* font-size: 25px; */
text-align: center;

}
